# Basic installation requirements
# Based on default env (curr. Python 2 dependencies)
# See dev_requirements for frozen deps (used in Travis)
# Employing the Development-Release Cycle Workflow (0.4.12)
# Update during Pre-Dev Phase to the last successful, unpinned dependency versions
# Then only add as needed during Development Phase.

# Critical dependencies
matplotlib==1.4.3
nose==1.3.7
notebook==4.2.0
numpy==1.9.2
pandas==0.16.2